@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aquamarine;
    align-items: center;
    overflow: hidden;
}
h1{
    text-align: center;
    color: darkred;
    font-size: 50px;
    background-color: #e6e89b;
    margin-top: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 1vh solid darkred;
    font-family: 'Kalam', cursive;
}
.background img{
    width: 55vh;
    height: 60vh;
    opacity: 0.8;
    left: 75%;
    top: 45vh;
    position: absolute;
}
.container{
    display: flex;

}
#board{
    background: linear-gradient(rgb(183, 233, 148),rgb(237, 171, 41));
    width: 70vw;
    height: 75vh;
    border: 8px solid black;
    margin: 1vw;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(25,1fr);

}

.snake{
    background-color: rgb(23, 22, 22);
    border: .40vmin solid white;
    border-radius: 12px;
}
.head{
    background: linear-gradient(yellow,rgb(0, 234, 255));
    transform: scale(1.2);
    border: .25vmin solid black;
    border-radius: 5px;

}
.food{
    background: linear-gradient(rgb(255, 0, 0),rgb(239, 173, 225));
    transform: scale(1.09);
    border: .40vmin solid black;
    border-radius: 8px;
}
#gameover{
    font-size: 5vh;
    color: rgb(255, 0, 0);
    position: absolute;
    left: 5vw;
    top: 18vh;
    font-family: 'Carter One', cursive;
}
#scoreBox{
    position: absolute;
    top: 22vh;
    right: 63px;
    font-size: 5vh;
    border: 4px solid grey;
    background-color: rgb(64, 62, 62);
    color: linen;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Russo One', sans-serif;
}
#hiscoreBox{
    position: absolute;
    top: 32vh;
    right: 40px;
    font-size: 5vh;
    border: 4px solid grey;
    background-color: rgb(64, 62, 62);
    color: linen;
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Russo One', sans-serif;
}